.mgke-timetable table,
.mgke-timetable th,
.mgke-timetable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.mgke-timetable table.current-day,
.mgke-timetable .current-day th,
.mgke-timetable .current-day td {
    border: 2px solid black;
}

.mgke-timetable div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mgke-timetable .group-block>h2 {
    /* padding-left: 10px; */
}

.mgke-timetable .center {
    text-align: center;
}

.mgke-timetable .timetable-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 14px;
    row-gap: 20px;
    column-gap: 10px;
}

.mgke-timetable .timetable-block {
    flex: 1 1 0;
    min-width: 30%;
}

.mgke-timetable td p {
    margin: 5px 2px;
}